/* 
 dark-gray: #636363
 orage: #FF6600
 light-cream: #c5c5cd
*/
body {
    height: 100%;
    font-family: 'Inconsolata', serif;
}

.name {
    margin: auto;
    font-weight: 700;
    font-size: 50px;
    color: #FF6600;
    text-decoration: underline;
}

.orange-text {
    color: #FF6600;
}

.title {
    font-weight: 700;
    font-size: 31px;
    color: #636363;
}

.subtitle {
    font-size: 25px;
    color: #c5c5cd;
}

.text {
    font-size: 20px;
    text-align: justify;
}

.self-portrait {
    max-width: 100%;
    max-height: 100%;
}

.center-text {
    text-align: center;
}

.link {
    color: #FF6600;
    text-decoration: none;
}

.link:visited {
    color: #c5c5cd;
    text-decoration: none;
}

#left {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
}

#right {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
    overflow-y: scroll;
}

.login-form {
    padding-top: 20px;
}

.dashboard-title {
    width: 100%;
    text-align: center;
}

.new-entry-textarea {
    resize: none;
}

.new-entry-form {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.row {
    margin: 0px;
}