/* 
 dark-gray: #636363
 orage: #FF6600
 light-cream: #c5c5cd
*/
body {
    height: 100%;
    font-family: 'Inconsolata', serif;
}

.name {
    position: fixed;
    padding-left: 7.6vw;
    padding-top: 33vw;
    width: 47vw;
    height: 10vw;
    font-weight: 700;
    font-size: 4vw;
    color: #FFF;
}

.v-title {
    position: fixed;
    padding-left: 3.4vw;
    padding-top: 41.2vw;
    width: 47vw;
    height: 10vw;
    font-weight: 700;
    font-size: 2vw;
    color: #c5c5cd;
}

.title {
    font-weight: 700;
    font-size: 36px;
    color: #636363;
}

.orange-text {
    color: #FF6600;
}

.subtitle {
    font-size: 23px;
    color: #c5c5cd;
}

.text {
    font-weight:400;
    font-style:normal;
    font-size:21px;
    line-height:1.58;
    letter-spacing:-0.003em;
}

.center-text {
    text-align: center;
}

.link {
    color: #c5c5cd;
    text-decoration: none;
}

.link-active {
    color: #FF6600;
    text-decoration: none;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6vw;
    background-color: #636363;
}

#right {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
    overflow-y: scroll;
    width: 93vw;
    text-align: justify;
}

.login-form {
    padding-top: 20px;
}

.centered-title {
    width: 100%;
    text-align: center;
}

.new-entry-textarea {
    resize: none;
}

.new-entry-div {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.row {
    margin: 0px;
}

.img-list {
    padding: 20px;
    width: auto;
    height: 150px;
}

.new-entry-title {

    width: 100%;
}

.new-entry-cover {
    width: 100%;
}

.entry {
    position: relative;
}

.entry-show {
    position: relative;
}

.entry:hover {
    opacity: 0.4;
    cursor: pointer;
}

.cover-image{
    width: 100%;
    height: auto;
}

.text-over-cover {
    position: absolute;
    top: 20px;
    left: 20px;
}

.col-xs-3 {
    padding-left: 0px;
}

.vertical-text {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

body {
    font-size: 21px;
}

.entry-body {
    border: 1px solid #c5c5cd;
    padding: 15px;
}

.entry-body > hr {
    border-top: 1px solid #c5c5cd;
}

.entry-date {
    font-size: 15px;
}

.game-box{
    width: 282px;
    height: 282px;
    border: 1px solid #c5c5cd;
}